<div class="comments-cont">
  <h4 class="comment-h-txt">Comments:</h4>
  {{#each this}}
  <section class="comment">
    <div class="comment-text">
      <p class="ctxt-txt">{{comment_text}}</p>
    </div>
    <div class="meta">
     From: {{user.username}} on {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>