<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Toon Tech Blog</title>
        <link rel="stylesheet" href="/css/style.css">
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous"
        />
    </head>

{{!-- handlebar for dynamic homepage --}}
    <body>
        <div class="wrapper">
            <header class="h-c">
                <nav class="nav-bar">
                    <a class="a-class" href="/">Homepage</a>
                    {{#if loggedIn}}
                    <a class="a-class" href="/dashboard">Dashboard</a>
                    <button id="logout" class="btn-no-style">Logout</button>
                    {{else}}
                    <a class="a-class" href="/login">Login</a>
                    <a class="a-class" href="/signup">Sign Up</a>
                    {{/if}}
                </nav>
                <div class="header-class">
                    <h1 class="main-head">
                        Toon Tech Blog
                    </h1>
                </div>
            </header>
            <main>
                {{!-- where dynamically information is displayed --}}
                {{{ body }}}
            </main>
        </div>
        <div class="footer-div">
            <footer>
                Thank you for visiting Toon Tech Blog!
            </footer>
        </div>

{{!-- if logged in, allow user to log out --}}
        {{#if loggedIn}}
        <script src="/js/logout.js"></script>
        {{/if}}
    </body>
    
</html>