<section class="row">
    <div class="column">
        <h2 class="create-h">Create Your New Post:</h2>
    </div>
{{!-- form for creating a new post --}}
  <form class="new-post-form">
    <div class="npf-title">
      <label for="post-title">Title</label>
      <input class="post-input" type="text" id="post-title" name="post-title" />
    </div>
    <div class="npf-text">
      <label for="post-text">Text</label>
      <textarea class="post-text" type="submit" name="post-text"></textarea>
    </div>
    <button class="create-btn" type="submit" class="btn">Create</button>
  </form>
</section>

{{!-- displays posts if the user has posted previously --}}
{{#if posts.length}}
<section>
  <h2>Your Posts:</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a class="edit-post-ref" href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/js/post.js"></script>