<article>
  <h2 class="create-h">Edit Post</h2>
  <form class="edit-post-form">
    <div class="edit-div">
      <input class="edit-post-input" name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <textarea class="edit-post-text" name="post-text">{{post.post_text}}</textarea>
    </div>
    <div class="edit-post-info">
      Posted by you on {{format_date post.created_at}}
    </div>
    <button class="create-btn" type="submit">Save Post</button>
    <button class="create-btn" type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

{{> comments post.comments}}

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>