<h2 class="feed-txt"> Your Feed:</h2>

{{!-- shows posts entered into the database by users --}}
<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ul>